{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@next/next/no-img-element": "off",
    "prettier/prettier": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/display-name": "off",
    "react/jsx-sort-props": [
      // props order by alphabet
      2,
      {
        "ignoreCase": true,
        "noSortAlphabetically": false
      }
    ],
    "react/jsx-curly-brace-presence": [2, { "props": "never", "children": "never" }] // 0 = off, 1 = warn, 2 = error curly brackets
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
